@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

/*  ------------- Univrsall styling  ------------- */

:root {
  --custromRem: 14px;
  --border-color: rgb(20, 89, 185);
  --navbar-color: rgb(22, 22, 22);
  --colour-1: white;
  --colour-2: rgb(22, 22, 22);
  --colour-3: rgb(20, 89, 185);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

html {
  width: 100svw;
  min-height: 100svh;
  background-color: rgba(0, 0, 0, 1);
  scrollbar-width: none; /* Firefox */
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100svw;
  min-height: 100svh;
}

div.full-wrapper {
  position: fixed; /* Fixes the element to the screen */
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-image: url("../Icons/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  z-index: -1;
}

/*  ------------- Univrsall styling  ------------- */

/*  ------------- Navbar css ------------- */
a.navbar-anchor.logo::before {
  /* , div.logo.footer > a.group-name::before */
  /* adds logo before the "USN Horizon" */
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/Logo_Grupp4.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

a {
  letter-spacing: 1.5px;
}

div.header.navbar-container {
  position: sticky; /* Use relative to make it non-sticky */
  top: 0;
  right: 0;
  z-index: 99;
  width: 100svw;
  height: 59px; /* Isn't really needed, but just in case */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: rgba(9, 39, 82, 0.4); */
  background-color: var(--navbar-color, rgb(22, 22, 22));
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  border-bottom: 3px solid var(--border-color, rgb(6, 74, 168));
}

div.header.navbar-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 5px 0;
}

ul.navbar-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  gap: 5svw;
}

a.navbar-anchor {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
}

/*  ------------- Social icons ------------- */
.right-links.social-icon-holder {
  padding: 7px max(3px, 1svw);
  gap: 100px;
}

/* Style for the social icons */
.social-icon:not(.github-icon) {
  width: 27px;
  height: 27px;
  vertical-align: middle;
}

a.github-icon-holder {
  padding: 11.5px 16.5px;
}

.social-icon.github-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

ul.navbar-list.sidebar {
  display: none;
}
/*  ------------- Social icons ------------- */

/* ------------- Mobil version for navbar ------------- */
nav.navbar > ul.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100svh;
  width: 55svw;
  z-index: 999;
  background-color: var(--navbar-color, rgba(0, 0, 0, 1));
  backdrop-filter: blur(20px);
  /* -webkit-backdrop-filter: blur(20px); */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
  border-left: 3px solid var(--border-color, rgb(6, 74, 168));
}

ul.navbar-list.sidebar li {
  width: 100%;
}

ul.navbar-list.sidebar a {
  width: 100%;
  padding: 20px 10px;
}
/* ------------- Mobil version for navbar ------------- */

/* ------------- Navbar css ------------- */

div.card-container {
  width: 100svw;
  /* height: auto; */
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* scroll-snap-type: y mandatory; */
  display: flex;
  justify-content: center;
}

div.blur-content {
  /* height: auto; */
  width: min(80%, 70svw);
  background-color: rgba(6, 16, 31, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.8);
  /* border-radius: 25px; */
}
/* ---------------- Main body ---------------- */

h2.heading {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  margin: 0 50px 0 50px;
}

h2.heading > span.line-title {
  flex-grow: 1;
  height: 3px;
  background-color: white;
}

h2.heading > span.line-title.right {
  margin: 0 10px 0 20px;
}

section.content {
  height: max(229px, 20svh);
  width: 100%;
  margin-top: 10px;
  /* background:  */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: row; */
}

div.profile-container {
  width: 670px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  background-color: var(--navbar-color, rgba(0, 0, 0, 1));
  border-radius: 18px;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-container p, .card-container h3 {
  color: white;
}

div.img-desprition {
  /* width: 0%; */
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

div.img-desprition > h3 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}

div.img-desprition > p {
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  /* text-align: justify; */
  color: white;
}





/* --------------- Footer --------------- */

div.main-footbar {
  height: 25svh;
  width: 100svw;
  /* background-color: rgba(9, 39, 82, 0.751); */
  background-color: var(--navbar-color, rgb(22, 22, 22));
  --webkit-backdrop-filter: blur(2px);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 1);
  border-top: 3px solid var(--border-color, rgb(6, 74, 168));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

div.footer > ul {
  list-style-type: none;
}

div.footer.pages > h4.indent-left {
  position: relative;
  left: -15px;
}

div.footer * {
  color: white;
  /* text-decoration: none; */
  line-height: 25px;
}

ul.footer.info.list {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

ul.footer.info.list > li:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/icons8-map-marker-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

ul.footer.info.list > li:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/icons8-email-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: 1px;
}

ul.footer.info.list > li:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/icons8-call-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
}

/* ---------------- LOGO FOOTER ---------------- */

a.KM.logo > img {
  width: 245px;
  vertical-align: middle;
  margin-right: 5px;
}

a.USN.logo > img {
  width: 193px;
  vertical-align: middle;
  margin-right: 5px;
}

@media screen and (max-width: 1600px) {
  .profile-img {
    width: 150px;
    height: 150px;
  }

  div.img-desprition > h3 {
    font-size: 18px;
  }
  
  div.img-desprition > p {
    font-size: 14px;
  }

  div.profile-container {
    width: auto;
  }
}

/* ----------- Media query. Dette er for mobil -----------*/
@media screen and (max-width: 800px) {
  a {
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
  }

  div.navbar-container {
    padding: 0px 0px;
  }
  nav.navbar > ul.navbar-list.mainbar {
    display: none;
  }

  .header.navbar-container > div.middle-links {
    flex: 0 0 auto;
  }

  .header.navbar-container > div.right-links {
    justify-content: end;
  }

  .header.navbar-container > div.left-links {
    justify-content: start;
  }

  div.right-links a.navbar-anchor {
    padding: 10px 6px;
  }

  div.right-links a.navbar-anchor.menu {
    padding: 5px 6px;
  }

  div.left-links a.navbar-anchor {
    padding: 10px;
  }

  a.navbar-anchor.logo::before {
    margin-right: 3px;
  }

  div.blur-content {
    width: 100%;
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(2px);
  }

  div.content-box {
    padding-top: 20px;
  }

  h2.heading {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h2.heading {
    margin: 0 10px 0 15px;
  }

  h2.heading > span.line-title.right {
    margin: 0 10px 0 10px;
  }

  section.content {
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
  }


  div.profile-container {
    width: 341px;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
    background-color: var(--navbar-color, rgba(0, 0, 0, 1));
    border-radius: 12px;
  }

  div.profile-container.erik {
    margin-bottom: 20px;
  }

  div.img-desprition > h3 {
    font-size: 18px;
  }
  
  div.img-desprition > p {
    font-size: 14px;
  }

  .profile-img {
    width: 160px;
    height: 160px;
  }

  /* -------------- Footer -------------- */
  div.main-footbar {
    height: auto;
    /* display: flex; */
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    flex-direction: row; /* Default row direction */
    gap: 30px; /* Adds spacing between items */
    /* width: 200px; Adjust to control wrapping */
    padding: 20px 0;
  }
}

/* Dette er for alle skjermer over if width <= 800 -> true */
@media screen and (min-width: 801px) {
  div.navbar-container a.navbar-anchor.menu {
    display: none;
  }

  /* ------------- Hover effect Navbar elements -------------*/
  div.navbar-container * {
    transition: 0.22s ease-in-out;
  }

  a.navbar-anchor:hover:not(.menu, .logo) {
    box-shadow: 5px 4px 15px rgba(104, 102, 102, 0.3),
      -5px 4px 15px rgba(104, 102, 102, 0.3);
    /* transform: scale(100px); */
    background-color: rgba(29, 37, 193, 0.714);
  }
  /* ------------- Hover effect Navbar elements -------------*/
}
