/* ------------- Animations ------------- */
/* @keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5svh);
    scale: 0.5;
  }
  to {
    scale(1);
    opacity: 1;
    background-color: rgba(11, 49, 102, 0.2);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
} */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

/* ------------- Animations ------------- */

/*  ------------- Univrsall styling  ------------- */
:root {
  --custromRem: 14px;
  --border-color: rgb(20, 89, 185);
  --navbar-color: rgb(22, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* ----------------------------- COUNTER BOOTSTRAP ---------------------- */

a {
  text-decoration: underline;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 600;
}

html {
  width: 100lvw;
  background-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: white;
  width: 100lvw;
  background-image: url("../Icons/Cloudscape_Over_the_Philippine_Sea_low_dark.JPG");
  /* opacity: 0.65; */
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*  ------------- Univrsall styling  ------------- */

/*  ------------- Navbar css ------------- */
a.navbar-anchor.logo::before { /* , div.logo.footer > a.group-name::before */
  /* adds logo before the "USN Horizon" */
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/Logo_Grupp4.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

a {
  letter-spacing: 1.5px;
}

div.header.navbar-container {
  position: sticky; /* Use relative to make it non-sticky */
  top: 0;
  right: 0;
  z-index: 99;
  width: 100svw;
  height: 59px; /* Isn't really needed, but just in case */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: rgba(9, 39, 82, 0.4); */
  background-color: var(--navbar-color, rgb(22, 22, 22));
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  border-bottom: 3px solid var(--border-color, rgb(6, 74, 168));
}

div.header.navbar-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 5px 0;
}

ul.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 5svw;
}

a.navbar-anchor {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  justify-content: end;
}

/*  ------------- Social icons ------------- */
.right-links.social-icon-holder {
  padding: 7px max(3px, 1svw);
  gap: 100px;
}

/* Style for the social icons */
.social-icon:not(.github-icon) {
  width: 27px;
  height: 27px;
  vertical-align: middle;
}

a.github-icon-holder {
  padding: 11.5px 16.5px;

}

.social-icon.github-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}


ul.navbar-list.sidebar {
  display: none;
}
/*  ------------- Social icons ------------- */

/* ------------- Mobil version for navbar ------------- */
nav.navbar > ul.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100svh;
  width: 50svw;
  z-index: 999;
  background-color: var(--navbar-color, rgba(0, 0, 0, 1));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
  border-left: 3px solid var(--border-color, rgb(6, 74, 168));
}

ul.navbar-list.sidebar li {
  width: 100%;
}

ul.navbar-list.sidebar a {
  width: 100%;
  padding: 20px 10px;
}
/* ------------- Mobil version for navbar ------------- */

/* ------------- Navbar css ------------- */

div.card-container {
  width: 100svw;
  /* height: calc(100dvh - 59px); */
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* scroll-snap-type: y mandatory; */
  display: flex;
  justify-content: center;
}

div.blur-content {
  /* height: 100%; */
  width: min(80%, 70svw);
  /* background-color: rgba(6, 16, 31, 0.2); */
  background-color: rgba(13, 20, 31, 0.196);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.8);
  /* border-radius: 25px; */
}

/* ------------ Timeline ------------ */

h1, h2, h3, h4, h5, h6 {
	color: white;
	margin-top: 0;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
	line-height: 1.4em;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
	line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
	padding-left: 40px;
	position: relative;
}

.timeline-item:last-child {
	padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 0 .5em 0;
	text-transform: uppercase;
	white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15px;
}

.timeline-marker:before {
	background: black;
	border: 3px solid transparent;
	/* border-radius: 100%; */
	/* transform: rotate(45deg); */
	content: "";
	display: block;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 4px;
	left: 0;
	transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* Line */
.timeline-marker:after {
	content: "";
	width: 3px;
	background: white;
	display: block;
	position: absolute;
	top: 24px;
	bottom: 0;
	left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
	content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
	background: transparent;
	border: 3px solid black;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
	padding-bottom: 40px;
}

.timeline-content p:last-child {
	margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
	padding: 0;
}

.period .timeline-info {
	display: none;
}

.period .timeline-marker:before {
	background: transparent;
	content: "";
	width: 15px;
	height: auto;
	border: none;
	border-radius: 0;
	top: 0;
	bottom: 30px;
	position: absolute;
	border-top: 3px solid #CCD5DB;
	border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
	content: "";
	height: 32px;
	top: auto;
}

.period .timeline-content {
	padding: 40px 0 70px;
}

.period .timeline-title {
	margin: 0;
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/
@media (min-width: 768px) {
	.timeline-split .timeline, .timeline-centered .timeline {
		display: table;
	}

	.timeline-split .timeline-item, .timeline-centered .timeline-item {
		display: table-row;
		padding: 0;
	}

	.timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker,
  .timeline-split .timeline-content, .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info, .timeline-centered .period .timeline-info {
		display: table-cell;
		vertical-align: top;
	}

	.timeline-split .timeline-marker, .timeline-centered .timeline-marker {
		position: relative;
	}

	.timeline-split .timeline-content, .timeline-centered .timeline-content {
		padding-left: 30px;
	}

	.timeline-split .timeline-info, .timeline-centered .timeline-info {
		padding-right: 30px;
	}

	.timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
		position: relative;
		left: -45px;
	}
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
	.timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
		display: block;
		margin: 0;
		padding: 0;
	}

	.timeline-centered .timeline-item {
		padding-bottom: 40px;
		overflow: hidden;
	}

	.timeline-centered .timeline-marker {
		position: absolute;
		left: 50%;
		margin-left: -7.5px;
	}

	.timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
		width: 50%;
	}

	.timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
		float: left;
		text-align: right;
		padding-right: 30px;
	}

	.timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
		float: right;
		text-align: left;
		padding-left: 30px;
	}

	.timeline-centered > .timeline-item:nth-child(even) .timeline-info {
		float: right;
		text-align: left;
		padding-left: 30px;
	}

	.timeline-centered > .timeline-item:nth-child(even) .timeline-content {
		float: left;
		text-align: right;
		padding-right: 30px;
	}

	.timeline-centered > .timeline-item.period .timeline-content {
		float: none;
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.timeline-centered .timeline-item.period {
		padding: 50px 0 90px;
	}

	.timeline-centered .period .timeline-marker:after {
		height: 30px;
		bottom: 0;
		top: auto;
	}

	.timeline-centered .period .timeline-title {
		left: auto;
	}
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
	background: transparent;
	border-color: black;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
	background: black;
}

/* --------------- Footer --------------- */

div.main-footbar {
  height: 25svh;
  width: 100svw;
  /* background-color: rgba(9, 39, 82, 0.751); */
  background-color: var(--navbar-color, rgb(22, 22, 22));
  --webkit-backdrop-filter: blur(2px);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 1);
  border-top: 3px solid var(--border-color, rgb(6, 74, 168));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.footer > ul {
  list-style-type: none;
}

div.footer.pages > h4.indent-left {
  position: relative;
  left: -15px;
}

div.footer * {
  color: white;
  /* text-decoration: none; */
  line-height: 25px;
}

ul.footer.info.list {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

ul.footer.info.list > li:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/icons8-map-marker-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

ul.footer.info.list > li:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/icons8-email-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: 1px;
}

ul.footer.info.list > li:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  background-image: url("../Icons/icons8-call-25.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
}



/* ---------------- LOGO FOOTER ---------------- */

a.KM.logo > img {
  width: 245px;
  vertical-align: middle;
  margin-right: 5px;
}


a.USN.logo > img {
  width: 193px;
  vertical-align: middle;
  margin-right: 5px;
}




/* ----------- Media query. Dette er for mobil -----------*/
@media screen and (max-width: 800px) {
  a {
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
  }

  div.navbar-container {
    padding: 0px 0px;
  }
  nav.navbar > ul.navbar-list.mainbar {
    display: none;
  }

  .header.navbar-container > div.middle-links {
    flex: 0 0 auto;
  }

  .header.navbar-container > div.right-links {
    justify-content: end;
  }

  .header.navbar-container > div.left-links {
    justify-content: start;
  }

  div.right-links a.navbar-anchor {
    padding: 10px 6px;
  }

  div.right-links a.navbar-anchor.menu {
    padding: 5px 6px;
  }

  div.left-links a.navbar-anchor {
    padding: 10px;
  }

  a.navbar-anchor.logo::before {
    margin-right: 3px;
  }

  div.blur-content {
    width: 100%;
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(2px);
  }

  /* -------------- Footer -------------- */
  div.main-footbar {
    height: auto;
    /* display: flex; */
    flex-wrap: wrap;  /* Allows items to wrap to the next row */
    flex-direction: row;  /* Default row direction */
    gap: 30px;  /* Adds spacing between items */
    /* width: 200px; Adjust to control wrapping */
    padding: 20px 0;
  }
}

/* Dette er for alle skjermer over if width <= 800 -> true */
@media screen and (min-width: 801px) {
  div.navbar-container a.navbar-anchor.menu {
    display: none;
  }

  /* ------------- Hover effect Navbar elements -------------*/
  div.navbar-container * {
    transition: 0.22s ease-in-out;
  }

  a.navbar-anchor:hover:not(.menu, .logo) {
    box-shadow: 5px 4px 15px rgba(104, 102, 102, 0.3),
      -5px 4px 15px rgba(104, 102, 102, 0.3);
    transform: scale(100px);
    background-color: rgba(29, 37, 193, 0.714);
  }
  /* ------------- Hover effect Navbar elements -------------*/
}
